.skin-blue .right-side > .content-header {
  background: #367fa9;
  color: #ffffff;
}

.right-side > .content-header > .breadcrumb > li > a {
  color: #fff;
}

.rendering-content {
  background-color: #fff;
  padding: 15px;
  padding-bottom: 40px;
}

.table {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.tab-content {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.content {
  padding-bottom: 60px;
}

.nav-tabs > li {
  border: 1px solid #e3e3e3;
}

.box {
  border: 1px solid #e3e3e3;
  padding: 10px;
  width: 92%;
  margin-left: 4%;
}

